html, body, main {
	height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
	font-family: 'Balsamiq Sans';
}
header {
	background: url('../img/header-Фон.png') center center no-repeat;
	background-size: cover;
	color: #ffffff;
	max-height: 1440px;
}
.container-fluid {
	display: flex;
	justify-content: space-around;
}
.header-buttons {
	display: 	flex;
	flex-direction: column;	
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}
.navbar-nav {
	padding-left: 35px;
}
.navbar-light .navbar-nav .nav-link:hover {
	font-weight: bold !important;
	color: #fff;
}
.time-frame {
	display: flex;
	align-items: center;
	padding-left: 65px;
}
.clock-logo {
	margin-right: 10px;
}
.text-time-frame p {
	margin-top: 8px;
	margin-bottom: 0;
}
.back-call {
	padding-left: 35px;
}
.btn-call .btn-primary {
	width: 200px;
	height: 24px;
	box-shadow: 0 0 13px rgba(1, 162, 166, 0.7);
	background-color: #01a2a6;
	border-radius: 20px;
	padding: 0;
} 
header .title-text {
	padding-top: 105px;
}
header .title-text h1 {
	font-size: 27px;
	margin: 0 0 40px 0;
	text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0 !important;
}
#tour-to-Arkaim {
	color: #01a2a6;
}
header .title-text p {
	font-size: 18px;
}
.youtube-button {
	display: flex;	
	margin-right: 50px;	
}
.youtube-button  span {
	padding: 0;
	margin-top: 18px;
}
.watch-program .btn {
	height: 38px;
	width: 228px;
	box-shadow: 0 0 13px rgba(1, 162, 166, 0.7);
	background-color: #01a2a6;
	border-radius: 30px;
	margin-bottom: 80px;
}
.watch-program .btn img {
	margin-left: 2px;
}
section h2 {
	font-size: 	22px;
	font-weight: 700;
}
hr {
	width:90%; 
	height:0px; 
	border-radius:50%; 
	box-shadow: 0 0 0 0px #e4e4e4, 0 0 0 0 #e4e4e4, 0 0 1px 1px #e4e4e4;
}
.changes-life, .climbing-experience, .answers-on-questions {
	display: flex;
	justify-content: space-between;
}
.changes-life-text {
	flex-basis: 63%;
}
.changes-life-text h2 {
	margin: 30px 0 24px 0;
}
.changes-life-img {
	max-height: 467px;
	max-width: 268px;
}
.changes-life-img img {
	margin-top: 35px !important;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.list {
	padding-left: 0;
}
.list li {
	list-style-type: none;
	display: flex;
	position: relative;
	line-height: 30px;
}
.dot:after {
	content: '';
	width: 11px;
	height: 11px;
	background-color: #06a4a8;
	display: inline-block;
	border-radius: 50%;
	margin: 0 10px 0 0;
} 
.dot:hover:after {
	background-color: #00d6db;
}
.dot:before{
	content: '';
	top: 0.5em;
	bottom: -0.5em;
	width: 2px;
	position: absolute;
	left: 4px;
	background-color: #000e0e;
	z-index: -1;
}
.list li:last-child .dot:before {
	content: none;
}
.mountain-title {
	display: flex;
	align-items: flex-end;
	margin: 50px 0 30px 10px;
}
.mountain-title h2 {
	margin: 0 0 0 20px;
}
.climbing-experience-text {
	margin-left: 20px;
}
.climbing-experience-text p {
	margin: 0 0 10px;
}
.climbing-experience-text p:first-child {
	margin-top: 5px;
}
.climbing-experience-img {
	margin-top: 7px;
	min-width: 240px;
	max-width: 240px;
	min-height: 327px;
	max-height: 327px;
}
.climbing-experience-img img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.gray-background {
	background: url('../img/Обложка_благодарность.png') center center no-repeat;
	min-height: 100%;
	background-size: cover;
}
.answers-on-questions {
	padding-top: 100px;
}
.answers-on-questions .container {
	display: flex;
}
.answers-on-questions ul, .practical-experience ul {
	list-style-type: none;
}
.answers-on-questions-text {
	flex-basis: 55%;
}
.answers-on-questions-text ul {
	margin-left: 20px;
}
.answers-on-questions-text ul li {
	line-height: 1;
}
.answers-on-questions-img {
	margin-top: 10px;
	max-width: 415px;
	min-width: 415px;
	max-height: 218px;
	min-height: 218px;
}
.answers-on-questions-img img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.answers-title {
	display: flex;
	margin-bottom: 15px;
	align-items: center;
}
.answers-title h2 {
	margin: 0 0 0 15px;
	font-size: 	22px;
	font-weight: 700;
}
.dash {
	font-size: 	22px;
	color: #00cdd2 !important;
}
.practical-experience .container {
	display: flex;
	margin-top: 40px;
	padding-bottom: 100px;
}
.practical-experience-img {
	width: 490px;
	min-width: 490px;
	height: 285px;
	min-height: 285px;
}
.practical-experience-img img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.practical-experience ul {
	margin-left: 15px;
}
.practical-experience-text {
	margin: 10px 0 0 50px;
}
.practical-experience-text ul li {
	line-height: 1;
}
.experience-heart {
	margin-right: 	15px;
}
.skill-experience-title {
	display: flex;
	align-items: center;
}
.our-method {
	display: flex;	
	margin-bottom: 	50px;
}
.our-method-text {
	flex-basis: 65%;
}
.our-method-img {
	margin-top: 20px;
	width: 362px;
	height: 195px;
}
.our-method-img img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.method-title {
	display: flex;	
	align-items: center;	
	margin-bottom: 	15px;
}
.method-title h2 {
	margin: 15px 0 0 8px;
}
.stages {
	display: 	flex;	
	padding: 11px 14px 11px 18px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	border-radius: 	15px;
	margin-bottom: 	14px;
	max-width: 	550px;
}
.stages:hover {
	background-color: rgba(0, 0, 0, 0.22);
	cursor: pointer;
}
.stages p {
	margin: 0;
	flex-basis: 96%;
}
#first-arrow {
	margin-top: 12px;
}
.v-of-b-fate {
	display: flex;	
	margin-top: 50px;
}
.v-of-b-fate-img {
	width: 394px;
	height: 271px;
}
.v-of-b-fate-img img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.v-of-b-fate-text {
	margin-left: 40px;
}
.v-of-b-fate-text p {
	margin-left: 55px;
}
.v-of-b-fate-text p:last-child {
	margin-bottom: 	0;
}
.v-of-b-fate-title {
	display: flex;	
	align-items: 	center;	
}
.v-of-b-fate-title h2 {
	margin-left: 10px;
}
.table-programs {
	background: url('../img/Слой 6.png') center center no-repeat;
	min-height: 100%;
  	background-size: cover;
	padding-top: 160px;	
	margin-top: 12px;
}
.table-programs h2 {
	color: #ffffff;
	font-family: "Balsamiq Sans";
	font-size: 22px;
	font-weight: 500;
}
.programs {
	display: 	flex;
	padding-top: 37px;
	padding-bottom: 130px;	
	background: url('');
}
.programs h3 {
	margin-left: 10px;
	font-size: 	18px;
	font-weight: 500;
	margin-top: 10px;
	color: #ffffff;
}
.program-2-days, .program-3-days {
	flex-basis: 50%;
} 
.programs-title {
	display: flex;
	margin-left: 30px;	
	padding-bottom: 20px;
}
.program-2-days ul {

}
.programs ul li {
	display: flex;	
	list-style-type: 	none;
	position: 	relative;
	color: #ffffff;
}
.programs ul li:last-child .dot:before {
	top: 0.5em;
	bottom: 0.5em;
	width: 1px;
}
.dot-2:after {
	content: '';
	width: 18px;
	height: 1px;
	background-color: #06a4a8;
	display: inline-block;
	border-radius: 50%;
	margin: 0 5px 5px 5px;
	right: 10px
} 
.programs ul li:first-child .dot-2:after {
	width: 12px;
	height: 12px;
	margin-left: -2px;
	margin-top: -10px;
}
.programs ul li p {
	margin: 0;
}
.programs h3 {
	padding-top: 0;
	margin-top: 5px;
}
.dot-2:before {
	background-color: #ffffff;
	z-index: 0;
	width: 1px;
}
.first-step {
	margin-bottom: 	10px;
	margin-left: 4px;
}
.last-step:after {
	width: 12px;
	height: 12px;
	margin-left: -2px;
	margin-top: 5px;
	z-index: 99;
}
.last-step:hover:after {
	background-color: #00d6db;
}
.show-more {
	color: #00baff;
	text-decoration: underline;
}
.last-li {
	margin-left: 12px;
}
.duration {
	margin-left: 27px;
}
.tour-cost {
	display: flex;
	color: #ffffff;
	padding: 20px 30px 0 30px;
}
.tour-cost-text {
	margin-left: 20px;
}
.tour-price {
	color: #ff0000;
}
.all-is-provided {
	display: flex;
	margin-top: 20px;
}
.all-is-provided-img {
	min-width: 354px;
	width: 354px;
	min-height: 188px;
	height: 188px;
}
.all-is-provided-img img {
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
section h3 {
	color: #000000;
	font-family: "Balsamiq Sans";
	font-size: 18px;
	font-weight: 600;
	padding-top: 25px;
}
.shipping-form {
	width: 828px;
	max-width: 80%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	border: 2px solid #dadada;
	margin-top: 42px;
	margin-bottom: 100px;
	border-radius: 20px;
	border: none;
	background-color: #f6f6f6;
}
.title-form {
	background-color: #c1c1c1;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.title-form h3 {
	margin: 0;
	padding: 25px 0;
}
.shipping-form .inputs {
	margin-top: 30px;
}
.shipping-form input {
	width: 230px;
	height: 33px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	border: 2px solid #dadada;
	border-radius: 8px;
	padding: 5px 5px 5px 30px;
}
.icon-man {
	background: url('../img/man-user.png') no-repeat center left;
	background-position: 5% 40%;
}
.icon-phone {
	background: url('../img/phone-receiver.png') no-repeat center left;
	background-position: 5% 45%;
}
.icon-email {
	background: url('../img/close-envelope.png') no-repeat center left;
	background-position: 5% 45%;
}
.shipping-form button {
	width: 173px;
	height: 33px;
	box-shadow: 0 0 13px rgba(1, 162, 166, 0.7);
	background-color: #01a2a6;
	margin-top: 33px;
	color: #ffffff;
	font-family: "Balsamiq Sans";
	font-size: 16px;
	border-radius: 25px;
	border: 0;
}
.shipping-form p {
	color: #000000;
	font-family: "Balsamiq Sans";
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	margin: 0;
}
.privacy-policy {
	color: #0066ff;
}
.block-warning {
	display: flex;
	margin: 30px 0 30px 50px;
}
.block-warning img {
	margin-right: 5px;
}
.tables {
	background: url('../img/Восхождение.png') center center no-repeat;
	min-height: 100%;
  	background-size: cover;
}
.tables .container {
	padding: 100px 0;
	max-width: 60%;
} 
.tables h2 {
	color: #ffffff;
	margin-bottom: 25px;
}
.tables p {
	color: #ffffff;
	font-family: "Balsamiq Sans";
	font-size: 16px;
	font-weight: 400;
	padding-top: 0;
}
.table {
	margin-bottom: 25px;
  	overflow: hidden; 
  	border-radius: 15px;
  	border-collapse: separate;
}
.table td {
	color: #ffffff;
}
.table td a {
	text-decoration: underline;
	color: #00baff;
}
.table td, .table th {
	padding: .4rem;
}
.discount {
	color: #ff0000;
}
.first-letter {
	color: #01a2a6;
}
.red-star {
	color: #ff0000;
}
.reviews-clients .container {
	margin-bottom: 35px;
}
.videos {
	display: flex;
	align-items: center;
}
.arrows {
	padding: 0 25px;
}
.tour-hosts > .container {
	display: flex;
	justify-content: center;
}
.tour-hosts h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.instructor-explorer {
	flex-basis: 50%;
	margin-left: 25px;
	margin-right: 25px;
}
.instructor-explorer p, .instructor-explorer li {
	max-width: 97%;
}
.instructor-explorer:first-child {
	border-right: 1px solid rgba(0,0,0,0.1);
	/*border-opacity: 0.1;*/

}
.tour-hosts ul {
	padding-left: 0;
}
.tour-hosts ul li {
	list-style-type: none;
}
.old-instructor .container {
	display: flex;
	justify-content: center;

}
.old-instructor-profile, .old-instructor-txt {
	padding: 0 20px;
}
.old-instructor-profile h3 {
	padding-left: 10px;
}
.travel-program {
	margin-bottom: 0;
}
.old-instructor-txt {
	padding-top: 35px;
}
.old-instructor-txt ul {
	padding-left: 0;
}
.old-instructor-txt ul li {
	list-style-type: none;
}
.photos-arkaim {
	margin-top: 30px;
}
.photos-arkaim .container {
	margin: auto;
}
.photos-arkaim h2 {
	margin: 60px 0 10px 0;
}
.card-photos {
	position: relative;
}
.photos > div:hover img {
	opacity: 1;
}
.thumbnail img {
}
.cards-photos img:first-child {
	border-radius: 7px;
	box-shadow: 0 0 9px rgba(0,0,0,0.5);
}
.cards-photos img:hover {
	filter: brightness(60%); 
}
.lupa {
	opacity: 0;
	pointer-events: none;
}
.photos-arkaim div {
}
.photos {
	display: flex;
	justify-content: center;
}
.nswrs-tskd-qstns {
	margin-top: 30px;
	color: #fff;
	background: url('../img/Слой 536.png') center center no-repeat;
	min-height: 100%;
  	background-size: cover;
	padding: 84px 0; 
}
.nswrs-tskd-qstns h2 {
	margin-top: 25px;
	font-weight: 500;
}
.answers-lists {
	display: flex;
	padding: 0 20px;
	padding-top: 70px;
}
.answers-lists ul {
	padding: 0 20px;
}
.answers-lists ul:first-child {
	margin-right: 150px;
}
.answers-lists ul li {
	list-style-type: none;
	display: 	flex;
	align-items: center;
	border-bottom: 	2px solid black;
	border-image: linear-gradient(90deg, rgba(57,58,60,1) 0%, rgba(93,94,95,1) 25%, rgba(182,182,183,1) 50%, rgba(93,94,95,1) 75%, rgba(57,58,60,1) 100%);
    border-image-slice: 1;	
}
.answers-lists ul li p {
	padding: 13px 13px 13px 0;
	flex-basis: 97%;
	margin: 0;
}
.answers-lists span {
	color: #01a2a6;
	font-size: 24px;
}
.answers-lists span:hover {
	cursor: pointer;
}
.about-tour {
	display: flex;
	line-height: 1;
	margin: 0 0 40px 0;
}
.about-tour-img {
	min-width: 80px;
	margin-right: 36px;
	margin: 20px 36px 0 10px;
}
.abt-2-3 {
	margin: 14px 22px 0 24px;
}
.about-tour p {
	margin: 13px 0;
}
.about-tour ul {
	padding: 0;
	margin-bottom: 	0;
}
.about-tour ul li {
	list-style-type: none;
}
.form-vs-img {
	margin-top: 20px;
}
.finger {
	margin: 0 40px 0 0;
}
.shipping-form-btm {
}
.shipping-form-2 {
	margin-top: 0;
	margin-bottom: 0;
}
.see-you {
	margin-top: 34px;
	margin-left: 18%;
	margin-bottom: 32px;
	color: #000000;
	font-family: "Balsamiq Sans";
	font-size: 16px;
	font-weight: 400;
}
.modal.show .modal-dialog {
	margin: auto;
}
.modal-body {
	padding: 0.5rem;
	margin: auto;
}
.modal-body img {
	max-width: 750px;
	width: 100%;
}
#footer {
	background: url('../img/Судьбу.png') center center no-repeat;
	background-size: cover;
	color: #ffffff;
}
.footer-main-menu {
	display: flex;
	padding-top: 24px;
}
.footer-main-menu ul li {
	list-style-type: none;
}
.footer-main-menu ul a {
	color: #ffffff;
	text-decoration: underline;
}
.our-contacts li p {
	margin: 0;
	padding-left: 22px;
}
.our-contacts li:nth-of-type(2) {
	background: url('../img/close-envelope-ftr.png') no-repeat left;
	background-position: 0% 40%;
}
.our-contacts li:nth-of-type(3) {
	background: url('../img/phone-receiver-ftr.png') no-repeat left;
	background-position: 0% 40%;
}
.our-contacts li:nth-of-type(4) {
	background: url('../img/clock-circular-outline-ftr.png') no-repeat left;
	background-position: 0% 40%;
}
.ftr-pltc {
	padding-top: 26px;
}
.footer-soc-ics {
	padding-bottom: 20px;
}
.footer-soc-ics div {
	padding: 0 21px;
}
@media screen and (min-height: 1024px) {
	header .title-text {
		padding-top: 145px;
	}
	header .title-text h1 {
		font-size: 29px;
		margin-bottom: 50px;
	}
	.watch-program .btn {
		margin-top: 20px;
	}
	.youtube-button {
		margin-top: 30px;
		margin-bottom: 40px;
	}
}
@media screen and (min-width: 1600px) {
	header .title-text {
		padding-top: 170px;
	}
	header .title-text h1 {
		font-size: 32px;
		margin-bottom: 70px;
	}
	.watch-program .btn {
		margin-top: 40px;
	}
}
@media screen and (min-width: 1920px) {
	header .title-text {
		padding-top: 240px;
	}
	header .title-text h1 {
		font-size: 34px;
		margin-bottom: 90px;
	}
	.watch-program .btn {
		margin-top: 60px;
	}
	.youtube-button {
		margin-top: 70px;
		margin-bottom: 50px;
	}
	.watch-program .btn {
		height: 42px;
	}
}